<div class='plan-info'>
  <p>
    You are changing to the '<%= @plan.name %>' plan.
  </p>

  <p>
    This plan costs <strong>$<%= @plan.price %></strong> per month.
  </p>
</div>

<% if current_account.braintree_subscription_id.present? %>
  <%= render "existing_subscription" %>
<% else %>
  <%= render "new_subscription" %>
<% end %>